section header {
  background:#222;
  color:white;
  cursor: pointer;
  padding:10px 20px;
  transition:0.3s ease-out;
}

section header.active {
  background:green;
}

section {
  background:white;
  color:black;
}

section .content {
  padding:10px;
  transition:0.3s ease-out;
}

section header:not(.active) + .content {
  opacity:0.3;
  text-decoration: line-through;
}
