<div class="content">
  <app-modal
    [style.width]="getValue('style.width')"
    [style.height]="getValue('style.height')"
    [style.transform]="getValue('style.transform')"
    [style]="getValue('style')"
    [dir-that-sets-styles]="getValue('dir-styles')"></app-modal>
</div>
<app-side-bar
  (toggle)="onToggle($event)"
  [width]="getBinding('style.width')"
  [height]="getBinding('style.height')"
  [transform]="getBinding('style.transform')"
  [templateStyles]="getBinding('style')"
  [directiveStyles]="getBinding('dir-styles')">
</app-side-bar>
