<div class="content">
  <code><pre>&lt;modal
  <b>[style.width]</b>=<i>&quot;myWidth&quot;</i>
  <b>[style.height]</b>=<i>&quot;myHeight&quot;</i>
  <b>[style.transform]</b>=<i>&quot;myTransform&quot;</i>
  <b>[style]</b>=<i>&quot;myStyles&quot;</i>
  <b>[dir-that-sets-styles]</b>=<i>&quot;myDirStyles&quot;&gt;</i>
  <span class="text">...</span>
&lt;/modal&gt;</pre></code>
  <div class="comment">
    Check off some of the styles on the sidebar to the
    right to see how Angular's new style merging works!
  </div>
</div>
